/* CSS Document */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tbody > tr{
	cursor: pointer;
	height: 30px;
}

p{
	
}

textarea {
    resize: none;
}

.container{
	top: 10px;
	width: 90%;
	margin: 0 auto;
}

.tag-container{
	top: 0;
	width: 68%;
	height: 300px;
	padding: 5px;
	margin-bottom: 30px;
	display: inline-block;
	background-color: #00FFFE;
}

.contain-adder{
	top: 0;
	width: 30%;
	height: 300px;
	padding: 5px 5px 5px 0;
	margin-bottom: 30px;
	display: inline-block;
	background-color: #00FFFE;
	float: right;
	text-align: center;
}

.selectedTags{
	background-color: #0066ff;
}

.selectedItems{
	background-color: #F1FF00;
}

.tags{
	border: 1px solid black;
    border-collapse: collapse;
	width: 50px;
	height: 30px;
	text-align: center;
	display: inline-block;
    vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.scrollbox {
	border: none;
	padding: 5px;
	height: 500px;
	overflow: scroll;
}

/* Scrollbar styles */
.scrollbox::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

.scrollbox::-webkit-scrollbar-track {
	border: 1px solid yellowgreen;
	border-radius: 10px;
}

.scrollbox::-webkit-scrollbar-thumb {
	background: yellowgreen;  
	border-radius: 10px;
}

.scrollbox::-webkit-scrollbar-thumb:hover {
	background: #88ba1c;  
}

#theTable{
	width: 2000px;
}

#selectedTags{
	margin-bottom: 30px;
	border: 1px solid black;
    border-collapse: collapse;
	height: 20px;
	padding-top: 4px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 16px;
}

#addcolume{
	width: 80%;
}

#cinput{
	width: 80%;
	height: 250px;
	margin-bottom: 10px;
}

